In [132]:
import pandas as pd

In [133]:
import numpy as np

In [134]:
segunvendor = pd.read_csv('septemberfinal.csv')

In [135]:
seguncust = pd.read_csv('customerie.csv')

In [138]:
segunvendorfd = pd.DataFrame(segunvendor)

In [139]:
seguncustfd = pd.DataFrame(seguncust)

In [140]:
left = pd.DataFrame(segunvendor)

In [141]:
right = pd.DataFrame(seguncust)

In [143]:
septemberfinal = pd.merge(left,right,how ="inner", on ="Customer_ID")

In [145]:
septemberfinal.to_csv('septembertotal.csv', index = False)

In [144]:
septemberfinal

,Customer_ID,last_login_date_time,is_phone_verified,unverified_phone,authentic_phone_no,customer_type,default_pickup_address,job_month_year,Name,Surname,...,Address,Company,RC_Number,Customer_Rating,Surge_Enable,Api_Enable,IS_MASTER_ADMIN,Form User Id,Registration_Status,Date Of Creation
0,54,2020-09-01 14:42:18,1,NaN,23408022969003,0,"Yaba Baptist Church, Commercial Avenue, Lagos,...",2020-09,Chimezie,Ugosinachi,...,"4-6 Catholic Mission Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,51.0,Verified,NaN
1,60,2020-09-15 08:17:32,1,NaN,2348026777998,0,"3b Banana Close, Lagos, Nigeria",2020-09,Ademola,Aina,...,"Alfred Rewane Road, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,57.0,Verification Pending,NaN
2,304,2020-09-21 08:09:23,1,NaN,2348180021455,1,"Dolafield College, Believer Street, Ikorodu, N...",2020-09,Abass,Kehinde,...,"Ilorin, Nigeria",NaN,NaN,0.0,YES,NO,NO,282.0,Verified,NaN
3,306,2020-09-21 13:26:36,1,NaN,2348120229062,0,"Deeper Life Bible Church Ori-Okuta, Believer S...",2020-09,Abass,Kehinde,...,"Ilorin, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
4,818,2020-09-14 05:07:06,1,NaN,23407031896302,1,"AYANGBUREN JUBILEE HOUSING ESTATE, Ikorodu - S...",2020-09,Okabode,Fatungase,...,"Ojodu Berger, Nigeria",NaN,NaN,0.0,YES,NO,NO,769.0,Verified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,23034,2020-09-30 16:35:27,1,NaN,2347082995519,0,"7 Adedotun Dina Crescent, Lagos, Nigeria",2020-09,Ibrahim,Jalike,...,"5 Abeke Animashaun Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,18756.0,Email Verification Pending,NaN
1824,23035,2020-09-30 17:24:33,1,NaN,23470330795513,0,"Eric Moore Heights, Bishop Howells Street, Lag...",2020-09,ms.,angela,...,"Milverton Estate, Lekki, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
1825,23036,2020-09-30 18:06:13,0,+234 8185202944,2348185202944,0,"5 Ayinde Street, Ikorodu, Nigeria",2020-09,Kabirat,Idowu,...,"Owode Onirin, Ikorodu Road, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,18757.0,Verification Pending,NaN
1826,23038,2020-09-30 21:30:51,1,NaN,2348161509262,0,"Agidingbi, Lagos, Nigeria",2020-09,Isiaka,NaN,...,"Iddo Market Lagos Mainland, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
1827,23039,2020-09-30 23:10:23,1,NaN,2348127778293,0,"Daleko Market, Daleko Market Road, Lagos, Nigeria",2020-09,Temioluwa,Ogundipe,...,"28 Ilaka Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,18759.0,Email Verification Pending,NaN

In [119]:
customerdaily = pd.read_csv('customerz.csv')

In [120]:
customfd = pd.DataFrame(customerdaily)

In [107]:
customfd

,Customer_ID,Name,Surname,Phone,Email,Account_Type,Address,Company,RC_Number,Customer_Rating,Surge_Enable,Api_Enable,IS_MASTER_ADMIN,Form User Id,Registration_Status,Date Of Creation
0,1,Test,tester,919999999999,testing@yopmail.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,1.0,Verified,NaN
1,2,kw,ik,18768768765,kw@yopmail.com,CORPORATE,"Chandigarh, India",NaN,RC-98765434,5.0,YES,NO,YES,2.0,Verified,NaN
2,3,am,ul,17657657654,am@yopmail.com,CORPORATE,"Panchkula, Haryana, India",NaN,RC-44444444,5.0,YES,NO,YES,3.0,Verified,NaN
3,5,ra,ja,918080808080,vippinbhihari.gupta@jungleworks.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,5.0,Email Verification Pending,NaN
4,6,Corp,rate,918067576578,Corp@yopmail.com,CORPORATE,"Mohali, Punjab, India",NaN,RC-44444444,0.0,YES,NO,NO,6.0,Verified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37268,37595,Tosin,Adenlolu,2348175891154,shazrock9ja@yahoo.com,CORPORATE,"26 Ilaje road, Bariga, Lagos.",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37269,37596,Ayo,Jinadu,23407033264794,jinkaz037@gmail.com,CORPORATE,"4 OBANIKORO Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37270,37597,Taye,NaN,2349028128833,tkonyeha@gmail.com,CORPORATE,"40 Kosofe Rd, Dolphine Estate, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37271,37598,Ebun,Ebun,2348029485912,adesinapelumi23@gmail.com,CORPORATE,"21, 21 Ashofihan St, 21 Ashofihan Street, Lago...",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37272,37599,Paul,NaN,2348063391462,NaN,CORPORATE,"9b Alhaji Tokan Street, Alaka, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN

In [40]:
customfd

,Customer_ID,Name,Surname,Phone,Email,Account_Type,Address,Company,RC_Number,Customer_Rating,Surge_Enable,Api_Enable,IS_MASTER_ADMIN,Form User Id,Registration_Status,Date Of Creation
0,1,Test,tester,919999999999,testing@yopmail.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,1.0,Verified,NaN
1,2,kw,ik,18768768765,kw@yopmail.com,CORPORATE,"Chandigarh, India",NaN,RC-98765434,5.0,YES,NO,YES,2.0,Verified,NaN
2,3,am,ul,17657657654,am@yopmail.com,CORPORATE,"Panchkula, Haryana, India",NaN,RC-44444444,5.0,YES,NO,YES,3.0,Verified,NaN
3,5,ra,ja,918080808080,vippinbhihari.gupta@jungleworks.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,5.0,Email Verification Pending,NaN
4,6,Corp,rate,918067576578,Corp@yopmail.com,CORPORATE,"Mohali, Punjab, India",NaN,RC-44444444,0.0,YES,NO,NO,6.0,Verified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37268,37595,Tosin,Adenlolu,2348175891154,shazrock9ja@yahoo.com,CORPORATE,"26 Ilaje road, Bariga, Lagos.",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37269,37596,Ayo,Jinadu,23407033264794,jinkaz037@gmail.com,CORPORATE,"4 OBANIKORO Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37270,37597,Taye,NaN,2349028128833,tkonyeha@gmail.com,CORPORATE,"40 Kosofe Rd, Dolphine Estate, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37271,37598,Ebun,Ebun,2348029485912,adesinapelumi23@gmail.com,CORPORATE,"21, 21 Ashofihan St, 21 Ashofihan Street, Lago...",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37272,37599,Paul,NaN,2348063391462,NaN,CORPORATE,"9b Alhaji Tokan Street, Alaka, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN

In [86]:
vendore = pd.read_csv('vendorelevendec.csv', error_bad_lines=False)

b'Skipping line 12818: expected 62 fields, saw 64\n'

In [89]:
vendorfd = pd.DataFrame(vendore)

In [90]:
vendorfd

,vendor_id,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,origin_booking,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable
0,1,0,NaN,1,58e596949dff0326cbcc357b5d351f70,d8578edf8458ce06fbc5bb76a58c5ca4,NaN,0,30.695009,76.879433,...,1,NaN,NaN,0,0,1,NaN,0.0,0.0,1
1,2,1,NaN,1,fc4f531a6cd205b1451b536e070978d2,d8578edf8458ce06fbc5bb76a58c5ca4,NaN,0,30.733315,30.733315,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
2,3,1,NaN,1,c2df01cee9089dc1f47aac4c78f7bd2c,d8578edf8458ce06fbc5bb76a58c5ca4,NaN,0,0.000000,0.000000,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
3,5,0,NaN,1,fe0dba1fcbba2b2d76fec5cddb014db0,d8578edf8458ce06fbc5bb76a58c5ca4,NaN,0,30.714772,76.845035,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
4,6,0,NaN,1,d81c16547a4bdcb15483332e3c771455,d8578edf8458ce06fbc5bb76a58c5ca4,NaN,0,0.000000,0.000000,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29417,29728,0,NaN,1,e62295b1ddb0781dac18f238502414ad,6124d98749365e3db2c9e5b27ca04db6,NaN,0,6.498122,3.334716,...,0,NaN,6200289456,0,0,1,NaN,0.0,0.0,0
29418,29729,0,NaN,1,6d4b547e2d2dc9342bab5cb372f2e96b,843443d1b823672b01fcc63eab1af04f,NaN,0,6.583363,3.357664,...,0,NaN,4497689553,0,0,1,NaN,0.0,0.0,0
29419,29730,0,NaN,1,a80813ee1c3cf197e0fce77da94e1ce0,9b60c0662dabbedc9a292af1b4f7cba9,NaN,0,6.629827,3.524263,...,1,NaN,0815588270,0,0,1,NaN,0.0,0.0,0
29420,29731,0,NaN,1,947055b069e70a14a1d18eef4dbf9ffb,23e9f26f26c15995f2bdc469bad9376e,NaN,0,6.619413,3.510454,...,0,NaN,1992514155,0,0,1,NaN,0.0,0.0,0
29421,29732,0,NaN,1,1406d45a088ffe0cd05d727790710b53,b592937f89f008c76cc67769954d4230,NaN,0,11.085541,7.719945,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0

In [83]:
import datetime

In [92]:
vendorfd["last_login_date_time"] = pd.to_datetime(vendorfd["last_login_date_time"])

In [93]:
vendorfd['job_month_year'] = pd.to_datetime(vendorfd['last_login_date_time']).dt.to_period('M')

In [97]:
vendorfd['job_month_year']

0        2020-10
1        2020-11
2        2020-11
3        2019-06
4        2020-07
          ...
29417    2020-12
29418    2020-12
29419    2020-12
29420    2020-12
29421    2020-12
Name: job_month_year, Length: 29422, dtype: period[M]

In [116]:
septey = vendorfd[vendorfd['job_month_year'] == "2020-09"]

In [117]:
septey

,vendor_id,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,job_month_year
40,54,0,NaN,1,2352e867ce949068bdb1288c881f0d71,fbf298ebb840e62a41c9104c4a794b64,NaN,0,0.000000,0.000000,...,NaN,1147121547,0,0,1,NaN,0.0,0.0,0,2020-09
46,60,0,NaN,1,d6b3d1b1f9fad9e23329cb96a09f3206,1b38b4f28f786d828b6e5725fdfb564b,NaN,0,6.572345,3.390851,...,b9d8b7ab-d42d-4cff-abba-85398e3ca5f1,9895826129,0,0,1,5.002371e+09,0.0,0.0,0,2020-09
271,304,0,NaN,1,30d86d59bc99a1be0a25a22d429d3d2a,4aba196e572bb81e0036cfd9b9992781,NaN,0,6.643756,3.485976,...,NaN,2182207452,0,0,1,NaN,0.0,0.0,0,2020-09
273,306,0,NaN,1,16bc6aadd72d1409e466369e9163f21b,671290ce8225e99ef6328fd92fc268c8,NaN,0,6.643756,3.485976,...,56e65423-4e85-4c76-a206-efb92b5486cc,4695780877,0,0,1,NaN,0.0,0.0,0,2020-09
777,818,0,NaN,1,d23127e6c86b4cb8fcda8860af53072b,032392ddd61be6e4650f3ef1e6b0e88f,NaN,0,6.498058,3.599202,...,NaN,2268283673,0,0,1,NaN,0.0,0.0,0,2020-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22742,23034,0,NaN,1,eca39bd6db8f69a80443f4fb41ea43a9,13b1b44811411a029b331e05acfdb879,NaN,0,6.574245,3.371258,...,NaN,1298168038,0,0,1,NaN,0.0,0.0,0,2020-09
22743,23035,0,NaN,1,d9cf686eb32ad2bc8c7af3dcfe075630,295808274ab2d7a430b1a6172cbddf5d,NaN,0,6.488026,3.355488,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22744,23036,0,NaN,1,54b5f3a0e29656b39e49183fe2adb2cb,ea5e04d89d522e20b2c540a6a8260a0d,NaN,0,0.000000,0.000000,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22745,23038,0,NaN,1,4abca45df7dc63c93dfacb3bb2944dc2,fe8ba634eb7b8c62926f3f5c75ac7479,NaN,0,6.623138,3.356525,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22746,23039,0,NaN,1,b4e57de28dd4cbf7a7a07d1f60a2853f,bec551752dcb562f1df4daa57aff05b3,NaN,0,6.530517,3.338723,...,NaN,9949523532,0,0,1,NaN,0.0,0.0,0,2020-09

In [98]:
september = vendorfd[vendorfd['job_month_year'] == "2020-09"]

In [110]:
septemberie = september

In [114]:
september.rename(columns={'customer_id': 'Customer_ID'},inplace =True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [111]:
septemberie.rename(columns={'vendor_id': 'Customer_ID'},inplace =True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [115]:
september

,Customer_ID,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,job_month_year
40,54,0,NaN,1,2352e867ce949068bdb1288c881f0d71,fbf298ebb840e62a41c9104c4a794b64,NaN,0,0.000000,0.000000,...,NaN,1147121547,0,0,1,NaN,0.0,0.0,0,2020-09
46,60,0,NaN,1,d6b3d1b1f9fad9e23329cb96a09f3206,1b38b4f28f786d828b6e5725fdfb564b,NaN,0,6.572345,3.390851,...,b9d8b7ab-d42d-4cff-abba-85398e3ca5f1,9895826129,0,0,1,5.002371e+09,0.0,0.0,0,2020-09
271,304,0,NaN,1,30d86d59bc99a1be0a25a22d429d3d2a,4aba196e572bb81e0036cfd9b9992781,NaN,0,6.643756,3.485976,...,NaN,2182207452,0,0,1,NaN,0.0,0.0,0,2020-09
273,306,0,NaN,1,16bc6aadd72d1409e466369e9163f21b,671290ce8225e99ef6328fd92fc268c8,NaN,0,6.643756,3.485976,...,56e65423-4e85-4c76-a206-efb92b5486cc,4695780877,0,0,1,NaN,0.0,0.0,0,2020-09
777,818,0,NaN,1,d23127e6c86b4cb8fcda8860af53072b,032392ddd61be6e4650f3ef1e6b0e88f,NaN,0,6.498058,3.599202,...,NaN,2268283673,0,0,1,NaN,0.0,0.0,0,2020-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22742,23034,0,NaN,1,eca39bd6db8f69a80443f4fb41ea43a9,13b1b44811411a029b331e05acfdb879,NaN,0,6.574245,3.371258,...,NaN,1298168038,0,0,1,NaN,0.0,0.0,0,2020-09
22743,23035,0,NaN,1,d9cf686eb32ad2bc8c7af3dcfe075630,295808274ab2d7a430b1a6172cbddf5d,NaN,0,6.488026,3.355488,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22744,23036,0,NaN,1,54b5f3a0e29656b39e49183fe2adb2cb,ea5e04d89d522e20b2c540a6a8260a0d,NaN,0,0.000000,0.000000,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22745,23038,0,NaN,1,4abca45df7dc63c93dfacb3bb2944dc2,fe8ba634eb7b8c62926f3f5c75ac7479,NaN,0,6.623138,3.356525,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22746,23039,0,NaN,1,b4e57de28dd4cbf7a7a07d1f60a2853f,bec551752dcb562f1df4daa57aff05b3,NaN,0,6.530517,3.338723,...,NaN,9949523532,0,0,1,NaN,0.0,0.0,0,2020-09

In [131]:
september.to_csv('septemberfinal.csv', index = False)

In [118]:
left = pd.DataFrame(september)

In [ ]:
right = pd.DataFrame(customfd)

In [130]:
left

,Customer_ID,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable,job_month_year
40,54,0,NaN,1,2352e867ce949068bdb1288c881f0d71,fbf298ebb840e62a41c9104c4a794b64,NaN,0,0.000000,0.000000,...,NaN,1147121547,0,0,1,NaN,0.0,0.0,0,2020-09
46,60,0,NaN,1,d6b3d1b1f9fad9e23329cb96a09f3206,1b38b4f28f786d828b6e5725fdfb564b,NaN,0,6.572345,3.390851,...,b9d8b7ab-d42d-4cff-abba-85398e3ca5f1,9895826129,0,0,1,5.002371e+09,0.0,0.0,0,2020-09
271,304,0,NaN,1,30d86d59bc99a1be0a25a22d429d3d2a,4aba196e572bb81e0036cfd9b9992781,NaN,0,6.643756,3.485976,...,NaN,2182207452,0,0,1,NaN,0.0,0.0,0,2020-09
273,306,0,NaN,1,16bc6aadd72d1409e466369e9163f21b,671290ce8225e99ef6328fd92fc268c8,NaN,0,6.643756,3.485976,...,56e65423-4e85-4c76-a206-efb92b5486cc,4695780877,0,0,1,NaN,0.0,0.0,0,2020-09
777,818,0,NaN,1,d23127e6c86b4cb8fcda8860af53072b,032392ddd61be6e4650f3ef1e6b0e88f,NaN,0,6.498058,3.599202,...,NaN,2268283673,0,0,1,NaN,0.0,0.0,0,2020-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22742,23034,0,NaN,1,eca39bd6db8f69a80443f4fb41ea43a9,13b1b44811411a029b331e05acfdb879,NaN,0,6.574245,3.371258,...,NaN,1298168038,0,0,1,NaN,0.0,0.0,0,2020-09
22743,23035,0,NaN,1,d9cf686eb32ad2bc8c7af3dcfe075630,295808274ab2d7a430b1a6172cbddf5d,NaN,0,6.488026,3.355488,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22744,23036,0,NaN,1,54b5f3a0e29656b39e49183fe2adb2cb,ea5e04d89d522e20b2c540a6a8260a0d,NaN,0,0.000000,0.000000,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22745,23038,0,NaN,1,4abca45df7dc63c93dfacb3bb2944dc2,fe8ba634eb7b8c62926f3f5c75ac7479,NaN,0,6.623138,3.356525,...,NaN,NaN,0,0,1,NaN,0.0,0.0,0,2020-09
22746,23039,0,NaN,1,b4e57de28dd4cbf7a7a07d1f60a2853f,bec551752dcb562f1df4daa57aff05b3,NaN,0,6.530517,3.338723,...,NaN,9949523532,0,0,1,NaN,0.0,0.0,0,2020-09

In [122]:
septemberall = pd.merge(left,right,how ="inner", on ="Customer_ID")

ValueError: The column label 'Customer_ID' is not unique.

In [47]:
vendorno = vendorefd["authentic_phone_no"]

In [61]:
vendorefd.rename(columns={'vendor_id': 'customer_id'},)

,customer_id,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,origin_booking,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable
441,478,0,NaN,1,a89f5a13c8c03dca5411f1d0cfae5835,9501d87aa7f65415beae2315a3d177a1,NaN,0,6.621992,3.499240,...,0,NaN,6806146449,0,0,1,NaN,0.0,0.0,0
1862,1924,0,NaN,1,7f117818f1d28f1b37b514399f121e53,1da1bdd6ce5c0a58e81c11439680ea93,NaN,0,0.000000,0.000000,...,0,NaN,0398857418,0,0,1,5.002381e+09,0.0,0.0,0
2037,2101,0,NaN,1,100da8e62b97339b0cb2e41fe19beb59,b5428a78db4daf63901eaa0b7b4a6bdb,NaN,0,6.493179,3.380828,...,0,NaN,ad265dfc459e731080afe35fae607be3,0,0,1,NaN,0.0,0.0,0
3124,3215,0,NaN,1,bad46e13fad8d8a2df47658f7d232527,6803216a480cb753c2896935aad0786f,NaN,0,6.442505,3.359079,...,0,a35c574f-fea2-4fb9-83d4-db86de227580,9482176966,0,0,1,NaN,0.0,0.0,0
3404,3495,1,NaN,1,1_11f7073fe03b01274761be551739ac71,8f324802d9922777df45873988c0c476,NaN,0,9.028699,7.463845,...,0,NaN,NaN,0,0,1,5.002370e+09,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29357,29668,0,NaN,1,12dbf1fac7208ae3145ac03f386c44a2,e34207872af91f180578aea5bbe4daf4,NaN,0,6.689835,3.355822,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29359,29670,0,NaN,1,65378c4147950296754975e402b85a2d,7008d688d0d8e79cd8405d8752b89224,NaN,0,6.678606,3.366132,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29368,29679,0,NaN,1,5b45cdf74599061ae92f88fb59368400,d58871132be297e17012df3a899eda5b,NaN,0,6.435823,3.460307,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29391,29702,0,NaN,1,646d525ed3cc80675fe2ce98f00d3168,6b360fb5c6a78ba3507551bba49e4e9d,NaN,0,6.428724,3.473796,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29421,29732,0,NaN,1,1406d45a088ffe0cd05d727790710b53,b592937f89f008c76cc67769954d4230,NaN,0,11.085541,7.719945,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0

In [62]:
vendorefd

,customer_id,is_created_by_admin,description,user_id,access_token,password,password_reset_token,is_blocked,latitude,longitude,...,origin_booking,freshchat_restore_id,email_verification_token,is_api_enabled,is_cod_customer,is_surge_enable,freshsales_account_id,waiting_pending_amount,cancel_pending_amount,is_kfleet_enable
441,478,0,NaN,1,a89f5a13c8c03dca5411f1d0cfae5835,9501d87aa7f65415beae2315a3d177a1,NaN,0,6.621992,3.499240,...,0,NaN,6806146449,0,0,1,NaN,0.0,0.0,0
1862,1924,0,NaN,1,7f117818f1d28f1b37b514399f121e53,1da1bdd6ce5c0a58e81c11439680ea93,NaN,0,0.000000,0.000000,...,0,NaN,0398857418,0,0,1,5.002381e+09,0.0,0.0,0
2037,2101,0,NaN,1,100da8e62b97339b0cb2e41fe19beb59,b5428a78db4daf63901eaa0b7b4a6bdb,NaN,0,6.493179,3.380828,...,0,NaN,ad265dfc459e731080afe35fae607be3,0,0,1,NaN,0.0,0.0,0
3124,3215,0,NaN,1,bad46e13fad8d8a2df47658f7d232527,6803216a480cb753c2896935aad0786f,NaN,0,6.442505,3.359079,...,0,a35c574f-fea2-4fb9-83d4-db86de227580,9482176966,0,0,1,NaN,0.0,0.0,0
3404,3495,1,NaN,1,1_11f7073fe03b01274761be551739ac71,8f324802d9922777df45873988c0c476,NaN,0,9.028699,7.463845,...,0,NaN,NaN,0,0,1,5.002370e+09,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29357,29668,0,NaN,1,12dbf1fac7208ae3145ac03f386c44a2,e34207872af91f180578aea5bbe4daf4,NaN,0,6.689835,3.355822,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29359,29670,0,NaN,1,65378c4147950296754975e402b85a2d,7008d688d0d8e79cd8405d8752b89224,NaN,0,6.678606,3.366132,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29368,29679,0,NaN,1,5b45cdf74599061ae92f88fb59368400,d58871132be297e17012df3a899eda5b,NaN,0,6.435823,3.460307,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29391,29702,0,NaN,1,646d525ed3cc80675fe2ce98f00d3168,6b360fb5c6a78ba3507551bba49e4e9d,NaN,0,6.428724,3.473796,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0
29421,29732,0,NaN,1,1406d45a088ffe0cd05d727790710b53,b592937f89f008c76cc67769954d4230,NaN,0,11.085541,7.719945,...,0,NaN,NaN,0,0,1,NaN,0.0,0.0,0

In [63]:
vendornew = vendorefd["customer_id"]

In [44]:
listvendor = vendorefd["vendor_id"]

In [64]:
vendornew

       customer_id  customer_id
441            478        507.0
1862          1924       2061.0
2037          2101       2248.0
3124          3215       3557.0
3404          3495       3905.0
...            ...          ...
29357        29668      37496.0
29359        29670      37498.0
29368        29679      37516.0
29391        29702          NaN
29421        29732      37594.0

[3236 rows x 2 columns]

In [65]:
vendornew.to_csv('vendorone.csv', index = False)

In [55]:
listvendor

441        478
1862      1924
2037      2101
3124      3215
3404      3495
         ...
29357    29668
29359    29670
29368    29679
29391    29702
29421    29732
Name: vendor_id, Length: 3236, dtype: int64

In [48]:
vendorno

441       +2348181505118
1862      +2348094759791
2037      +2348086586825
3124      +2348091196270
3404     +23407016684661
              ...
29357    +23408038529495
29359     +2348038529495
29368       +19087645061
29391     +2348097201683
29421     +2348061215446
Name: authentic_phone_no, Length: 3236, dtype: object

In [49]:
left = vendorno

In [50]:
right = listvendor

In [54]:
concate

      authentic_phone_no  vendor_id
441       +2348181505118        478
1862      +2348094759791       1924
2037      +2348086586825       2101
3124      +2348091196270       3215
3404     +23407016684661       3495
...                  ...        ...
29357    +23408038529495      29668
29359     +2348038529495      29670
29368       +19087645061      29679
29391     +2348097201683      29702
29421     +2348061215446      29732

[3236 rows x 2 columns]

In [45]:
listvendor

441        478
1862      1924
2037      2101
3124      3215
3404      3495
         ...
29357    29668
29359    29670
29368    29679
29391    29702
29421    29732
Name: vendor_id, Length: 3236, dtype: int64

In [77]:
vender = pd.read_csv('vendorone.csv')

In [69]:
customerdaily

,Customer_ID,Name,Surname,Phone,Email,Account_Type,Address,Company,RC_Number,Customer_Rating,Surge_Enable,Api_Enable,IS_MASTER_ADMIN,Form User Id,Registration_Status,Date Of Creation
0,1,Test,tester,919999999999,testing@yopmail.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,1.0,Verified,NaN
1,2,kw,ik,18768768765,kw@yopmail.com,CORPORATE,"Chandigarh, India",NaN,RC-98765434,5.0,YES,NO,YES,2.0,Verified,NaN
2,3,am,ul,17657657654,am@yopmail.com,CORPORATE,"Panchkula, Haryana, India",NaN,RC-44444444,5.0,YES,NO,YES,3.0,Verified,NaN
3,5,ra,ja,918080808080,vippinbhihari.gupta@jungleworks.com,INDIVIDUAL,"Chandigarh, India",NaN,NaN,0.0,YES,NO,NO,5.0,Email Verification Pending,NaN
4,6,Corp,rate,918067576578,Corp@yopmail.com,CORPORATE,"Mohali, Punjab, India",NaN,RC-44444444,0.0,YES,NO,NO,6.0,Verified,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37268,37595,Tosin,Adenlolu,2348175891154,shazrock9ja@yahoo.com,CORPORATE,"26 Ilaje road, Bariga, Lagos.",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37269,37596,Ayo,Jinadu,23407033264794,jinkaz037@gmail.com,CORPORATE,"4 OBANIKORO Street, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37270,37597,Taye,NaN,2349028128833,tkonyeha@gmail.com,CORPORATE,"40 Kosofe Rd, Dolphine Estate, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37271,37598,Ebun,Ebun,2348029485912,adesinapelumi23@gmail.com,CORPORATE,"21, 21 Ashofihan St, 21 Ashofihan Street, Lago...",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
37272,37599,Paul,NaN,2348063391462,NaN,CORPORATE,"9b Alhaji Tokan Street, Alaka, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN

In [78]:
left = pd.DataFrame(vender)

In [79]:
right = pd.DataFrame(customerdaily)

In [80]:
vendorfull = pd.merge(left,right,how ="inner", on ="Customer_ID")

In [81]:
vendorfull

,Customer_ID,Name,Surname,Phone,Email,Account_Type,Address,Company,RC_Number,Customer_Rating,Surge_Enable,Api_Enable,IS_MASTER_ADMIN,Form User Id,Registration_Status,Date Of Creation
0,478,Oghenetejirhi,Avbenagha,2349065235691,tejirhi@gmail.com,INDIVIDUAL,"Ajah Market, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,451.0,Verified,NaN
1,1924,Itohan Winnie,Chekwas-anaga,2348163340033,visit0005@yahoo.com,INDIVIDUAL,"Ogudu Road, Ogudu, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,1798.0,Verified,NaN
2,2101,Ephraim,Mba,23409013602615,mbaephraim35@gmail.com,INDIVIDUAL,"Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,1963.0,Verified,NaN
3,3215,ijeoma,NaN,2348063358618,NaN,INDIVIDUAL,"trade fair complex, Lagos, Nigeria, 100001",NaN,NaN,0.0,YES,NO,NO,NaN,Otp Verification Pending,NaN
4,3495,Keston,Timson,23408148117066,kestonorherhe@gmail.com,INDIVIDUAL,"Okanga Shopping Plaza, Idris Gidado Street, Ab...",NaN,NaN,0.0,YES,NO,NO,3170.0,Email Verification Pending,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3211,29668,Oluchi,Uba,2348026831723,ubaoluchi@gmail.com,INDIVIDUAL,"2a Ayodele Diyan Road, Ikeja, Nigeria",NaN,NaN,0.0,YES,NO,NO,24028.0,Email Verification Pending,NaN
3212,29670,Amaka,Mofunanya,2348050722242,amakachy@gmail.com,INDIVIDUAL,"Sangotedo, Nigeria",NaN,NaN,0.0,YES,NO,NO,24030.0,Email Verification Pending,NaN
3213,29679,Fasasi Qasim,Fasasi,2349074001879,fasaqa1000@gmail.com,INDIVIDUAL,"ikeja computer village, Pepple Street, Lagos, ...",NaN,NaN,0.0,YES,NO,NO,24040.0,Email Verification Pending,NaN
3214,29702,Rachael,Zaka,+234 7066486333,rachy385@gmail.com,INDIVIDUAL,"Tochukwu Chikezie Close, Lagos, Nigeria",NaN,NaN,0.0,YES,NO,NO,24063.0,Email Verification Pending,NaN
3215,29732,Aanu,T,23408098438112,aanuataylor@gmail.com,INDIVIDUAL,"Lekki Phase 1, Lekki, Nigeria",NaN,NaN,0.0,YES,NO,NO,24077.0,Otp Verification Pending,NaN

In [82]:
vendorfull.to_csv('vendorall.csv', index = False)